* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    /* border: 1px solid red; */
}
body {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    margin-top: 50px;
    padding: 5px;
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
}
section {
    width: 50%;
    margin: auto;
    color: white;
}

fieldset {
    background-color: rgba(0, 0, 0, .6);
    margin-top: 50px;
    padding: 50px;
}

legend {
    width:fit-content;
    background-color: bisque;
    color: black;
}
p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

label {
    width: 20px;
}

input {
    width: fit-content;
    margin: 0.4rem;
}
